body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    background: white;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    padding: 8px;
    margin: 5px;
    width: 80%;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

h1 {
    color: darkblue;
}
